body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#tagSearch {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
    max-width: 500px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-align: center;
    z-index: 10;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}

.tag {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.tag:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.tag:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.gallery {
    column-count: 5;
    column-width: 200px;
    column-gap: 15px;
    padding: 30px;
}

.gallery img {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 15px;
    border-radius: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: .5s ease;
}

.image img:hover {
    transform: scale(1.03);
}